body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    grid-template-areas:
      "header"
      "left-content"
      "right-content";
    padding: 20px;
  }
  
  .site-header {
    grid-area: header;
    
  }

  .contact-info h1,
  .contact-info h2 {
    margin: 0;
    color: #fff;
  }
  
  .left-content,
  .right-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  @media (min-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "header header"
        "left-content right-content";
    }
  }
  
  @media (min-width: 900px) {
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "header header header"
        "left-content right-content right-content";
    }
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
    color: #333;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    padding: 10px;
    background-color: #090460;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  